

:root {
   --title-text-color: #212121;
   --primary-text-color: #757575;
   --accent-color: #2196F3;
   --white-color: #FFFFFF;
   --black-color: #000000;
   --secondary-bg-color: #F5F4FA;
   --dark-bg-color: #2F303A;
   --button-focus: #188CE8;
   --adress-color: rgba(255, 255, 255, 0.6);
   --border-color: #EEEEEE
   
}

/* General */

a {
   text-decoration: none;
}

li {
   list-style-type: none;
}

body {
   font-family: 'Roboto', sans-serif;
   color: var(--primary-text-color);
   background-color: var(--white-color);
}

/* Logo */

.logo, .logo-footer {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
}

.first-logo {
   color: var(--accent-color);
}

.second-logo {
   color: var(--black-color);
}

.third-logo {
   color: var(--white-color);
}

/* Navigation */

.header-nav {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   
}


.nav-list {
   color: var(--title-text-color);
}

.nav-list:hover,
.nav-list:focus {
   color: var(--accent-color);
}

.nav-list.current {
   color: var(--accent-color);
}


.nav-contacts {
   color: var(--primary-text-color);
   
}

.nav-contacts:hover, 
.nav-contacts:focus {
   color: var(--accent-color);
}

/* HERO */

.hero-section {
   background-color: var(--dark-bg-color);
   width: 1600px;
   height: 600px;
}

.slogan {
  
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: var(--white-color);
}

.button {
   cursor: pointer;
   font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.87;
   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;
   color: var(--white-color);
   position: absolute;
   width: 216px;
   height: 50px;
   left: 692px;
   top: 430px;
   background: var(--accent-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
}


.button:focus,
.button:hover {
   background: var(--button-focus);
}

/* < !-- Особливості --> */

.visually-hidden {
   position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
}

.features-title {
   color: var(--title-text-color);
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.features-text {
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
}

.work-title, .team-title{
   color: var(--title-text-color);
   font-weight: 700;
   font-size: 36px;
   line-height: 1.16;
   text-align: center;
   letter-spacing: 0.03em;
}

/* Наша команда */

.team-section {
   background-color: var(--secondary-bg-color);
}

.team-card {
   background-color: var(--white-color);
}

.text-about {
   color: var(--title-text-color);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.18;
   letter-spacing: 0.03em;
}

.team-text {
   font-size: 16px;
   line-height: 1.18;
   letter-spacing: 0.03em;
}

/* Футер */

.footer-section {
   background-color: var(--dark-bg-color);
   
}

.adress-link {
   color: var(--white-color);
   font-style: normal;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
}

.adress-link:hover, .adress-link:focus {
   color: var(--accent-color);
}

.footer-list {
   color: var(--adress-color);
   font-style: normal;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
}

.footer-list:hover, .footer-list:focus {
   color: var(--accent-color);
}

/* Portfolio */

.portfolio-buttons {
   font-family: inherit;
   cursor: pointer;
   background: var(--secondary-bg-color);
   border-radius: 4px;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--title-text-color);
}

.portfolio-buttons:hover,
.portfolio-buttons:focus {
   font-family: inherit;
   background: var(--accent-color);
   border-radius: 4px;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--white-color);
}

.project-title {
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   color: var(--title-text-color);

}

.project-caption {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.03em;
   color: var(--primary-text-color);

}

.portfolio-cards {
   background: var(--white-color);
   
}